<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        <intercept-url pattern="/adduser" access="permitAll()"/>
        <intercept-url pattern="/login" access="permitAll()"/>
        <!--<intercept-url pattern="/**" access="isAuthenticated()"/>-->
        <form-login
                login-page="/login"
                default-target-url="/welcome"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password" />
        <logout
                invalidate-session="true"
                logout-success-url="/login"
                logout-url="/logout"/>
        <csrf disabled="true"/>
    </http>

    <!--authentication-manager-->
    <authentication-manager>
        <authentication-provider ref="beagleFairAuthenticationProvider">
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="beagleFairAuthenticationProvider" class="ch.smartlinksa.intern.webservice.config.BeagleFairAuthenticationProvider"/>
</beans:beans>